doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1")
        title Мини-тестовое
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="styles/reset.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css")
        link(rel="stylesheet" href="styles/styles.css")
        script(src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js")
        script(src="scripts/script.js" defer)
    body
        .advantages
            picture
                source(media="(width < 1025px)" srcset="images/advantages-m.jpg, images/advantages-m@2x.jpg 2x")
                img.advantages__img(
                    srcset="images/advantages.jpg, images/advantages@2x.jpg 2x"
                    src="images/advantages.jpg" alt=""
                )
            h2.advantages__title Преимущества работы с Русагриком

            .swiper.advantages__slider
                .swiper-wrapper
                    -
                        const slides = [
                            'Сеть складов',
                            'Полный комплект документов',
                            'Доставка до склада покупателя',
                            'Отсрочка платежа',
                        ];

                    each slide in slides
                        .swiper-slide.advantages__slide
                            .advantages__icon
                                include images/icon.svg
                            .advantages__slide-title #{slide}
